#main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#main #ganttContainer {
  flex: 1;
  overflow: hidden;
}

#main #timerangesContainer {
  display: flex;
  width: 350px;
  height: 100%;
  border-left: 2px solid #aaa;
}

#main #timerangesContainer .b-panel {
  flex: 1;
}

#main #timerangesContainer .b-panel-content {
  padding: 0;
}

#main #timerangesContainer .b-grid {
  flex: 1;
}

#main #timerangesContainer .b-grid .b-grid-row:before {
  display: none;
}

#main #timerangesContainer .b-grid .b-grid-cell {
  cursor: pointer;
}

#main #timerangesContainer .b-grid i {
  margin-right: 10px;
  color: #4887e5;
}

.b-grid-header {
  height: 57px;
}
