
#main {
  display        : flex;
  flex-direction : row;
  height         : 100%;

  #ganttContainer {
    flex     : 1;
    overflow : hidden;
  }

  #timerangesContainer {
    display: flex;
    width : 350px;
    height: 100%;
    border-left: 2px solid #aaa;

    .b-panel {
      flex: 1;
    }

    .b-panel-content {
      padding: 0;
    }

    .b-grid {
      flex: 1;

      .b-grid-row:before {
        display:none;
      }

      .b-grid-cell {
        cursor : pointer;
      }

      i {
        margin-right : 10px;
        color        : #4887e5;
      }
    }
  }
}

.b-grid-header {
  height : 57px;
}
